apiVersion: apps/v1
kind: Deployment
metadata:
  name: heimdall
  labels:
    app: heimdall
spec:
  selector:
    matchLabels:
      app: heimdall
  replicas: 1 
  template:
    metadata:
      labels:
        app: heimdall
    spec:
      containers:
      - name: heimdall
        image: linuxserver/heimdall:2.7.6 # {"$imagepolicy": "flux-system:heimdall-policy"}
        env:
        - name: TZ
          value: ${GLOBAL_TZ}
        ports:
        - containerPort: 80
        - containerPort: 443
        volumeMounts:
        - mountPath: /config 
          name: config
        resources: {}
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: config
