apiVersion: apps/v1
kind: Deployment
metadata:
  name: wyoming-piper
  namespace: homeassistant
  labels:
    app: piper
spec:
  selector:
    matchLabels:
      app: piper
  replicas: 1
  template:
    metadata:
      labels:
        app: piper
    spec:
      containers:
      - name: wyoming-piper
        image: docker.io/rhasspy/wyoming-piper:2.2.2 # {"$imagepolicy": "flux-system:piper-policy"}
        args: ["--voice", "en-gb-southern_english_female-low"]
        ports:
        - containerPort: 10200
        volumeMounts:
        - mountPath: /data
          name: data
        resources: {}
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: piper-data
